$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables

//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;

// Update Bulma's global variables
$family-sans-serif: proxima-nova, sans-serif;

$primary: $primary-color;
$link: $primary-color;

$body-background-color: $background-grey;
$background: $background-white;

$navbar-height: 4rem;
