//$widescreen-enabled: false;
//$fullhd-enabled: false;

// Update some of Bulma's component variables

//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;

// Update Bulma's global variables
$family-sans-serif: proxima-nova, sans-serif;
//$weight-normal: 300;
//$weight-medium: 400;
//$weight-semibold:

$primary: $primary-color;
$link: $primary-color;
//$link-visited
//$link-hover: ;

$body-background-color: $background-grey;
$background: $white-smoke;
