//https://coolors.co/00b9e8-fe4a49-fed766-e6e6ea-f4f4f8
$cyan: #00b9e8;
$tart-orange: #fe4a49;
$orange-yellow: #fed766;
$platinum: #e6e6ea;
$white-smoke: #f4f4f8;

$background-grey: $platinum;
$primary-color: $cyan;
$secondary-color: $tart-orange;

//$purple: #8a4d76;
//$pink: #fa7c91;
//$brown: #757763;
//$beige-light: #d0d1cd;
//$beige-lighter: #eff0eb;
