@import "../../../assets/styles/main";

h1.logoText {
  align-items: center;
  display: flex;
  margin-top: 0;
  line-height: 1.1;
  margin-left: 0.9rem;
  font-weight: $weight-semibold;
  color: $logo-text-color;
  font-size: 1.7rem;
  letter-spacing: -0.03em;
  position: relative;
  top: -2px;
}

.navbar-item img.emjoiLogo {
  height: 56px;
  width: 56px;
  max-height: inherit;
}

.navbar-brand .navbar-item {
  align-items: center;
  margin-top: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  h1.logoText {
    font-size: 1.3rem;
    margin-left: 0.65rem;
  }

  .navbar-item img.emjoiLogo {
    height: 48px;
    width: 48px;
  }
}
