@import "../../../assets/styles/main";

.latestPostsHome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .postCardBox {
    @include tablet {
      margin: 0;
    }
  }
}
