@import "../../../assets/styles/base/colors";

ul.categoryList {
    list-style: none;
    margin-left: 0;
    margin-top: 0;

    li a span {
        margin-left: 0.25rem;
        color: $secondary-color;
        font-size: 0.75rem;
    }
}
