@import "~bulma/bulma";

.navbar-social-icons .navbar-item {
  color: var(--primary-alt-color);

  @include touch {
    display: inline-block;
  }
}

.navbar-social-icons .navbar-item:hover {
  color: var(--secondary-alt-color);
}
