@import "../../../assets/styles/main";

.relatedPost {
  display: list-item;
  margin-left : 1em;
}
.relatedPostContainer {
  display: flex;
  flex-direction: row;
  padding: 0.35em;
}
.relatedPostContainer .tags {
  margin-left: 0.5em;
  @include mobile {
    display:none;
  }
}
.relatedPostContainer .tags .tag{
  margin-right: 0.5em;
}