@import "../../assets/styles/main";

.navbar {
  border-top: 3px solid $primary-color;
  border-bottom: 1px solid $background-grey;
}

.navbar-item {
  font-weight: $weight-bold;
  margin-top: auto;
}

button.navbar-item.searchButton {
  margin-right: 0.5em;

  @include touch {
    margin: 0 auto;
  }
}

.navbar-menu {
  @include touch {
    text-align: center;
    border-top: 1px solid $background-grey;
  }
}
