@import "../../../assets/styles/colors";

ul.githubRepos li i.fab {
  padding: 0 0.25rem;
  margin-top: 0.25rem;
  color: $primary-alt-color;
  float: right;

  &:hover {
    color: $secondary-alt-color;
  }
}

ul.githubRepos li p.description {
  font-size: 0.85rem;
}

ul.githubRepos li a {
  font-weight: 500;
}
