@import "../../../assets/styles/base/colors";

ul.githubRepos li i.fab {
    padding: 0 0.25rem;
    margin-top: 0.25rem;
    color: $brown;
    float: right;
}

ul.githubRepos li p.description {
    font-size: 0.75em;
}
