@import "../../assets/styles/main";
@import "~bulma/bulma";

.ais-SearchBox-input {
  width: 100%;
  padding: 1em;
  margin-top: 0.5em;
}

.ais-InfiniteHits-list {
  overflow-y: auto;
  padding: 1em 0;

  @include touch {
    max-height: 27em;
  }
}

.ais-InfiniteHits-item {
  padding: 0.25em;
}

.ais-InfiniteHits-loadMore {
  font-size: 100%;
  font-family: inherit;
  border-width: 1px;
  cursor: pointer;
  -ms-flex-pack: center;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  background-color: $primary-color;
  border-color: transparent;
  color: #fff;
  display: block;
  margin: 0 auto;
}

.navbar-item.searchButton {
  margin-left: 1em;
  color: inherit;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0.5em;
  background: none;
  cursor: pointer;
}

.navbar-item.searchButton:hover {
  color: $primary-color;
}

.searchIcon {
  padding-right: 1em;
}

.searchCloseButton {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background: none;
  color: $primary-color;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.searchModal {
  position: fixed;
  top: 5em;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  min-width: 50%;
  max-width: 50%;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  overflow: auto;
  border-radius: 4px;
  outline: currentColor none medium;
  padding: 20px;

  @include touch {
    min-width: 80%;
    max-width: 80%;
  }
}
