@import "../../../assets/styles/main";

.box.postCardBox {
  margin: 1em;
  padding: 1rem;
  border-top: 2px solid #227c71;
  flex-direction: column;
  justify-content: space-between;
  display: flex;

  @include mobile {
    width: 100%;
  }
  @include tablet  {
    width: 45%;
    margin: 0.5em;
  }
  @include desktop  {
    width: 30%;
  }

  h1 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 1.5em;
  }
}

.postCardTags {
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
}

.postedOn {
  align-self: flex-end;
  font-size: 0.9em;
  font-style: italic;
}