@import "colors";

// Update Bulma's global variables
$widescreen-enabled: true;
$fullhd-enabled: true;

//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;

@import url("https://use.typekit.net/qun5xao.css");
$family-sans-serif: proxima-nova, sans-serif;

$navbar-height: 4rem;
