@charset "utf-8";

@use "./tokens";

$widescreen-enabled: true;
$fullhd-enabled: true;
$family-sans-serif: tokens.$font-family-sans;
$navbar-height: 4rem;

$primary: tokens.$primary;
$link: tokens.$link;
$body-background-color: tokens.$body-background-color;
$background: tokens.$background;

@import "bulma/bulma.sass";
