@import "colors";

// Update Bulma's global variables
$widescreen-enabled: true;
$fullhd-enabled: true;

//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
$family-sans-serif: 'Raleway', 'Century Gothic', CenturyGothic, AppleGothic,
  sans-serif;

$navbar-height: 4rem;
