pre {
  border: 1px solid darkgrey;
  border-left: 6px solid #227c71;
}

.language-text, .language-shell, .language-bash {
  word-break: break-all;
}

.codeWrapper {
  position: relative;
}
.codeCopyButton{
  position: absolute !important;
  right: 0;
  opacity: 25%;
}
.codeCopyButton:hover {
  opacity: 100%;
}