@charset "utf-8";

@import "~bulma/sass/utilities/initial-variables";
@import "bulma";
@import "~bulma";
@import "~bulma-timeline";

html {
  scroll-behavior: smooth;
}

body {
  font-weight: $weight-light;
}

.content ul.link-list {
  list-style: none;
  margin: 0;
}

footer.footer {
  padding: 1rem 1.5rem;
}

.button {
  font-weight: $weight-semibold;
}

.no-html-scroll {
  overflow: hidden;
}

blockquote {
  overflow: auto;
}